body{
    background-color: white;
    
}

.container{
    /* background-color: brown; */
    padding: 2%;
    padding-bottom: 0.5%;
    color: black;

}

.container h1{
    font-family: PlayfairDisplay-BlackItalic;
    color: black;
    padding-bottom: 3vh;
}

.container h2{
    font-family: PlayfairDisplay-BlackItalic;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 230%;
}
.point_of_view{
  font-family: PlayfairDisplay-BlackItalic;
  background-image: url("../images/templates1/12.jpeg");
  padding: 35vh;
  background-color: aqua;
  text-align: center;
  background-size: cover;
  border-radius: 8px;
}

.img-responsive{
  width: 80%;
  height: 5%;
}

/* ----------------navbar---------------- */
/* link animation */

.container-fluid a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(212, 211, 211);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.container-fluid a:hover:after { 
  width: 95%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


/* ------------------------------------------ */


.container-fluid{
  padding: 3%;
  margin-top: 5vh;
  background-color: black;
  text-align: center;
  font-size: small;
  
}

.container-fluid a{
  font-size: 110%;
  color: grey;
  padding: 0% 1% 0% 1%;
  font-family: 'Rokkitt', serif;
  /* border-bottom: 1px  solid gray; */
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20vh;
  /* padding-left: 8%; */
  grid-column-gap: 1%;
  grid-row-gap: 10%;
  grid-gap: 5%;
  margin-bottom: 10vh;
  /* background-color: blue; */
}

.grid-image {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* text-align: center; */
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container{
    text-align: center;
  }

  .container h2 {
    font-size: 8vw;
  }

  .point_of_view{
    padding: 40vw;
  }

  .grid-container{
    display: inline;
  }

  .container-fluid{
    font-size: 100%;
  }
}